body{
    background-color: black;
}


video{
margin: 0 auto;
display: block;
}

audio{
    margin: 0 auto;
    display: block;
    background-color: green;
    text-decoration: none;


    
    
    
}

#audio-song audio{
    
   color;blue
}

h1{
    
    color: #ffffff;
    background-color: #000000;
  display: inline-block;
  padding: 10px;
  margin: 12px ;
    color: red;
  
}

#audio-song{

    text-align: center;
  
    
}

#video-song{
    text-align: center;
}